/* Body Styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    color: salmon;
    background: linear-gradient(to bottom, #00008b, #000);
        /* Dark blue (#00008b) to black (#000) */
}

/* Container that controls the grid anc control panel. */
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Ant Farm grid portion */
#grid-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 4px;
    width: 100%;
    height: 100%;
    background-color: black;
}

.grid-item {
    background-color: grey;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

/* control panel styles */
#control-panel {
    flex: 0 0 20%;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
}

/* Slider and button styles */
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}