/* Body Styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: salmon;
    background: linear-gradient(to bottom, #00008b, #000);
        /* Dark blue (#00008b) to black (#000) */

}


/* Header Styles */
header {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
}

/* Container that controls the grid anc control panel. */
.container {
    display: flex;
    flex-grow: 1;
}

/* Ant Farm grid portion */
#grid-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 0.2rem;
    width: 100%;
    height: 100%;
    background-color: black;
}

.grid-item {
    background-color: rgb(208, 220, 226);
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/* Food zone of the grid */
.food-zone {
    background-color: lightgreen;
}

/* Water zone of the grid */
.water-zone {
    background-color: cyan;
}

/* Waste zone of the grid */
.waste-zone {
    background-color: brown;
}

/* Base zone of the grid */
.base-zone {
    background-color: black;
}

/* control panel styles */
#control-panel {
    flex: 0 0 20%;
    padding: 1rem;
    box-sizing: border-box;
    height: auto;
    max-height: 100vh;
    overflow-y: auto;
}

/* Slider and button styles */
button {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.slider-disabled {
    pointer-events: none;
}

button:hover {
    background-color: #0056b3;
}

input[type="range"] {
    width: 100%;
    margin: 0.5rem 0;
}